In [37]:
import numpy as np 
import pandas as pd

import laspy

from geopandas import GeoDataFrame
from shapely.geometry import Polygon,Point

import warnings
warnings.filterwarnings('ignore')

In [38]:
try:
    inFile = laspy.read('../laz/iowa.las')
except FileNotFoundError:
    print("File not Found")
    
lidar_points = np.array((inFile.x,inFile.y,inFile.z,inFile.intensity,
               inFile.raw_classification,inFile.scan_angle_rank)).transpose()

#Transform to pandas DataFrame
lidar_df=pd.DataFrame(lidar_points)

In [39]:
lidar_df.head()

           0           1       2     3    4     5
0  438030.48  4641321.84  318.49   2.0  2.0 -12.0
1  438029.54  4641321.56  318.37  34.0  2.0 -12.0
2  438028.53  4641321.81  318.41  37.0  2.0 -12.0
3  438018.94  4641322.50  318.15   2.0  2.0 -12.0
4  438019.93  4641322.27  318.29   2.0  2.0 -12.0

In [40]:
lidar_df.columns = ["x","y","z","intensity","raw_classification","scan_angle_rank"]

In [41]:
lidar_df.tail(10)

,x,y,z,intensity,raw_classification,scan_angle_rank
401274,437297.95,4641033.93,310.41,2.0,2.0,14.0
401275,437312.49,4641030.11,310.56,2.0,2.0,13.0
401276,437320.82,4641027.93,310.76,2.0,2.0,13.0
401277,437305.53,4641029.97,310.44,46.0,2.0,13.0
401278,437297.25,4641032.13,310.43,64.0,2.0,14.0
401279,437302.07,4641030.52,310.22,2.0,2.0,13.0
401280,437304.22,4641029.98,310.50,2.0,2.0,13.0
401281,437306.18,4641027.41,310.41,48.0,2.0,13.0
401282,437304.09,4641027.95,310.41,51.0,2.0,13.0
401283,437301.93,4641028.16,310.59,2.0,2.0,13.0

In [42]:
#Transform to geopandas GeoDataFrame
crs = None
geometry = [Point(xy) for xy in zip(inFile.x,inFile.y)]
lidar_geodf = GeoDataFrame(lidar_df, crs=crs, geometry=geometry)
lidar_geodf.crs = {'init' :'epsg:2959'} # set correct spatial reference

In [43]:
lidar_geodf.tail()

,x,y,z,intensity,raw_classification,scan_angle_rank,geometry
401279,437302.07,4641030.52,310.22,2.0,2.0,13.0,POINT (437302.070 4641030.520)
401280,437304.22,4641029.98,310.50,2.0,2.0,13.0,POINT (437304.220 4641029.980)
401281,437306.18,4641027.41,310.41,48.0,2.0,13.0,POINT (437306.180 4641027.410)
401282,437304.09,4641027.95,310.41,51.0,2.0,13.0,POINT (437304.090 4641027.950)
401283,437301.93,4641028.16,310.59,2.0,2.0,13.0,POINT (437301.930 4641028.160)